$primary-color: white;
$gradient-bg-color: linear-gradient(16.72deg, #00F3B9 0.79%, #2187FF 79.29%);
$button-color: #2091F9;
$secondary-color: #374754;
$input-bg-color: #F4F4F4;
$border-color: #E8E8E8;